{sub_dirs, ["rel"]}.
{erl_opts,
 [debug_info, {parse_transform, lager_transform}
 
 ]}.
{deps,
 [
  {lager, ".*",   {git, "https://github.com/basho/lager.git",  {tag, "2.0.3"}}},
  {fix_convertor, ".*", {git, "https://github.com/MaximMinin/fix_convertor.git"}},
  {yaws,  "1.98", {git, "https://github.com/klacke/yaws.git", {tag, "yaws-1.98"}}}
 ]}.

